<h1><%= @question.inquiry %></h1>
<form action="/questions/<%=@question.id%>/edit" method="GET"> 

        <input type="submit" value="Edit Question" /> 
</form>
<br>
<br>
<h2>Answers and Comments Below</h2>
<br>
<% @question.answers.each.with_index(1) do |answer, index| %>

    <p><%="#{index}."%>
     <%= answer.description %>
    </p>
<%end%> 

<br>
<br>

<p>
    <form action="/questions/<%=@question.id%>/answers" method="POST"> 
        <input type="hidden" name="question_id" value="<%=@question.id%>"/
        <br>
        <label for name= "description">Post your answer or comment:</label>
        <br>
        <textarea name="description" rows="3"></textarea>
        <br>
        <br>
        <input type="submit" value="submit" /> 
    </form>
</p>
<p>
    <form action="/logout" method="GET"> 
        <br>
        <label for name= "logout">Click below to Logout:</label>
        <br>
        <input type="submit" value="logout" /> 
    </form>
</p>
    
